@model CheckInViewModel
<!--html, css, & js written by Jacob Sadler-->

<main id="cmain">
<h1>@Model.Course.CourseName.FirstCharToUpper()</h1>
<div class="desc">This is your course page for @Model.Course.CourseName.FirstCharToUpper(). Here, you can log your attendance and generate a personalized attendance report for @Model.Course.CourseName.FirstCharToUpper().</div>
<br>

@if (Model.AccessCode == null)
{
    
    <button class="button-main button-center button-open">Log Attendance</button>
    <dialog class="popup" id="popup">
        <div class="desc" style="color: red">@TempData["ErrorMessage"]</div>
        <form asp-action="CheckIn" asp-controller="Student" class="loginform">
            <div asp-validation-summary="All"></div>
            <label asp-for="AccessCode">Access Code:</label>
            <input asp-for="AccessCode" class="textinput" type="text"/><br>
            <input type="hidden" asp-for="Course.CourseId" />

            <button class="submit" type="button" name="close">Close</button>
            <input class="submit" type="submit" value="Submit">
        </form>
    </dialog>
}
else
{
    <form asp-action="CheckIn" asp-controller="Student">
        
        <div class="desc" style="color: green">@TempData["SuccessPopup"]</div>
        <div class="desc" style="color: red">@TempData["ErrorMessage"]</div>
        <br>
                
        <button type="submit" class="button-main button-center button-dropdown">Check in</button>
        <input type="hidden" asp-for="AccessCode" />
        <input type="hidden" asp-for="Course.CourseId" />
    </form>
        
}

    <a asp-action="Report" asp-controller="Student" asp-route-id="@Model.Course.CourseId" class="a-center a-main">Generate Report</a>



@if (TempData.Peek("ErrorMessage") is not null && Model.AccessCode is null)
{
    <script type="text/javascript">
        const m = document.querySelector("dialog");
        m.showModal();
    </script>
}
@if (Model.AccessCode is null)
{
    <script defer src="~/js/modalbox.js"></script>
}
    <script defer src="~/js/dropdown.js"></script>
</main>