@model UserViewModel
@*This page was written by Zaid Abuisba*@
@{
    Layout = null;
    ViewData["Title"] = " | Manage Users";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<h1 class="mb-2">Manage Users</h1>
<h5 class="mt-2">
    <a asp-action="Add">Add a User</a>
</h5>
<a asp-action="LogOut" asp-controller="Home" asp-area="">
    <button class="btn btn-primary">Sign Out</button>
</a>
<table class="table table-bordered bg-white table-sm ">
   <thead>
      <tr>
         <th>Username</th>
         <th>Roles</th>
         <th></th>
         <th></th>
         <th></th>
         </ tr>
   </thead>
   <tbody>
      @if (Model.Users.Count() == 0) {
      <tr>
         <td colspan="5">There are no user accounts.</td>
      </tr>
      }
      else {
      @foreach (User user in Model.Users) {
      <tr>
         <td>@user.UserName</td>
         <td>
            @foreach (string roleName in user.RoleNames) {
            <div>@roleName</div>
            }
         </td>
         <td>
            <form method="post" asp-action="Delete" asp-route-id="@user.Id">
               <button type="submit" class="btn btn-primary"> Delete User</button>
            </form>
         </td>
         <td>
            <form method="post" asp-action="AddToRole" asp-route-id="@user.Id" >
                    <select class="form-select" id="AddToRole" name="AddToRole">
                    <option value="0">Select a Role</option>
                    @for (int i = 0; i < Model.Roles.Count(); i++)
                    {
                        <option value="@Model.Roles.ElementAt(i)">@Model.Roles.ElementAt(i)</option>
                    }
                </select>
               <button type="submit" class="btn btn-primary"> Add To Role</button>
            </form>
         </td>
         <td>
            <form method="post" asp-action="RemoveFromRole" asp-route-id="@user.Id">
                <select class="form-select" id="RemoveFromRole" name="RemoveFromRole">
                    <option value="0">Select a Role</option>
                    @for (int i = 0; i < Model.Roles.Count(); i++)
                    {

                        <option value="@Model.Roles.ElementAt(i)">@Model.Roles.ElementAt(i)</option>
                    }
                </select>
               <button type="submit" class="btn btn-primary"> Remove From Admin</button>
            </form>

         </td>
         <td>
         </td>
      </tr>
      }
      } 
   </tbody>
</table>
<h1 class="mb-2">Manage Roles</h1>

    <form method="post" asp-action="CreateRole">
      
         <input id="newRole" name="newRole" type="text" />
         
        <button type="submit" class="btn btn-primary"> Create Role</button>
    </form>

    <table class="table bg-white table-bordered table-striped table-sm">
        <thead>
            <tr><th>Role</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <form method="post" asp-action="DeleteRole" asp-route-id="@role.Id">
                            <button type="submit" class="btn btn-primary"> Delete Role</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
